/* SET ALL ELEMENTS TO 0 PADDING AND 0 MARGIN AS DEFAULT */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ROOT PROFILE */
:root {
  /* COLOR PROFILE */
  --blue: #519bf5;
  --dark-blue: #1b66c2;
  --light-pink: #ff92d7;
  --dark-pink: #ff78a3;
  --blue-black: #254062;
  --black: #000000;
  --gray: #121111be;
  --white: #ffffff;

  /* FONT PROFILE */
  --hero-font: 6rem;
  --header-font: 5rem;
  --footer-header-font: 3rem;
  --para-font: 1.7rem;
  --footer-font: 1.4rem;
  --large-button-font: 1.6rem;
  --large-badge-font: 2.2rem;
}

/* SETS FONT FAMILY AND SIZING - 1 REM EQUALS 10px */
html {
  font-family: "Lexend Deca", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
  overflow-x: hidden;
}

/* CUSTOM SCROLLBAR */

html::-webkit-scrollbar {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 100px;
}

/* TYPOGRAPHY */

.hero-heading-h1,
.hero-heading-h2 {
  font-size: var(--hero-font);
  text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hero-heading-h1 {
  margin-bottom: 1rem;
}

.hero-heading-h2 {
  margin-bottom: 3rem;
}

.section-heading-font {
  color: var(--blue-black);
  font-size: var(--header-font);
  margin-bottom: 2rem;
}

.paragraph-text {
  color: var(--gray);
  font-size: var(--para-font);
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
}

.footer-heading-font {
  color: var(--blue-black);
  font-size: var(--footer-header-font);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* BADGES */

.skills-badge {
  color: var(--white);
  font-size: var(--large-badge-font);
  font-weight: 300;
  margin: 0 2rem 1.5rem;
}

/* BUTTONS AND LINKS*/

.blue-button {
  background-color: var(--dark-blue);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 7px;
  color: var(--white);
  cursor: pointer;
  font-size: var(--large-button-font);
  letter-spacing: 0.15rem;
  padding: 1.2rem 5rem;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  width: 200px;
  transition: all 0.8s ease;
}

.blue-button:hover {
  background-color: var(--blue);
}

/* HORIZONTAL RULE */

hr,
.hero-hr {
  height: 5px;
  border: 0;
  margin-bottom: 1.5rem;
}

hr {
  background-color: var(--light-pink);
  width: 50px;
}

.hero-hr {
  background-color: var(--blue);
  width: 100px;
}

/* UNORDERED LIST DEFAULT */

ul {
  list-style: none;
}

/* HEADER */

header {
  background: linear-gradient(var(--dark-pink), var(--light-pink));
  color: var(--white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 100dvw;
  height: 100dvh;
}

.header-left,
.header-right {
  width: 45%;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text-container {
  text-align: left;
}

.hero-image {
  max-width: 100%;
  max-height: 100%;
}

/* NAVIAGATION */

nav {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 0.5rem 3rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-list-item {
  color: var(--gray);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.18rem;
  margin-left: 10rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.9s ease;
}

.nav-list-item:hover {
  color: var(--blue);
}

.logo {
  cursor: pointer;
}

/* SKILLS */

.skills-container {
  background-color: var(--dark-blue);
  padding: 5rem 3rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* SECTION */

.section-container {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: 7rem 10rem 4rem;
}

/* ABOUT ME */

.about-left,
.about-right {
  height: 100%;
  width: 50%;
}

/* CONTACT */

.contact-container {
  background-color: var(--dark-blue);
  padding: 7rem 10rem 4rem;
}

/* FOOTER */

footer {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem 10rem;
}

.footer-logo {
  width: 50px;
  height: 50px;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
}

.footer-links-list {
  display: flex;
  flex-direction: column;
}

.footer-link {
  color: var(--gray);
  font-size: var(--footer-font);
  text-decoration: none;
  margin-top: 0.5rem;
}
