/* SET ALL ELEMENTS TO 0 PADDING AND 0 MARGIN AS DEFAULT */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ROOT PROFILE */
:root {
  /* COLOR PROFILE */
  --blue: #519bf5;
  --dark-blue: #003f87;
  --black: #000000;
  --red: #ff4122;
  --orange: #fe994a;
  --light-gray: #f5f5f5;
  --gray: #121111be;
  --grey: #adafad;
  --white: #ffffff;
  --pink: #d53a9d;
  --purple: #743ad5;
  --gold: #9fab20;
  --green: #2a7830;
  --steel-blue: #4b6283;
  --aqua: #13b9b6;

  /* FONT PROFILE */
  --hero-font: 8rem;
  --header-font: 5rem;
  --small-header-font: 2.5rem;
  --x-small-header-font: 1.5rem;
  --contact-font: 2rem;
  --para-font: 1.7rem;
  --input-font: 1.5rem;
  --text-link-font: 1.8rem;
  --footer-font: 1.3rem;
  --large-button-font: 1.6rem;
  --small-button-font: 1.4rem;
  --large-badge-font: 1.8rem;
  --small-badge-font: 1.2rem;
  --error-font: 1.3rem;
}

/* SETS FONT FAMILY AND SIZING - 1 REM EQUALS 10px */
html {
  font-family: "Lexend Deca", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
  overflow-x: hidden;
}

/* CUSTOM SCROLLBAR */

html::-webkit-scrollbar {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 100px;
}

/* BACKGROUND GRADIENT */

.background {
  background: rgb(35, 98, 179);
  background: linear-gradient(
    0deg,
    rgba(35, 98, 179, 1) 0%,
    rgba(0, 63, 135, 1) 100%
  );
}

/* TYPOGRAPHY */

.hero-heading-h1,
.hero-heading-h2 {
  font-size: var(--hero-font);
  text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.hero-heading-h1 {
  margin-bottom: 1rem;
}

.hero-heading-h2 {
  margin-bottom: 4rem;
}

.section-heading-font {
  color: var(--white);
  font-size: var(--header-font);
  margin-bottom: 5rem;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.paragraph-text {
  color: var(--white);
  font-size: var(--para-font);
  font-weight: 200;
  line-height: 2.5rem;
  letter-spacing: 0.08rem;
  margin-bottom: 2rem;
}

.contact-paragraph-text {
  color: var(--white);
  font-size: var(--contact-font);
  font-weight: 200;
  text-align: center;
}

.small-heading {
  color: var(--dark-blue);
  font-size: var(--small-header-font);
  margin-bottom: 2rem;
}

.tiny-heading {
  color: var(--dark-blue);
  font-size: var(--x-small-header-font);
  margin-top: 1rem;
}

.error-text {
  color: var(--red);
  font-size: var(--error-font);
  font-weight: 400;
}

.project-desc {
  color: var(--black);
  font-size: var(--para-font);
  font-weight: 300;
  margin-top: 1rem;
}

/* BADGES */

.skills-badge {
  color: var(--white);
  font-size: var(--large-badge-font);
  font-weight: 300;
  margin: 0 2rem 1.5rem;
}

.build-badge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.build-badge {
  border-radius: 5px;
  color: var(--white);
  font-size: var(--small-badge-font);
  padding: 0.8rem 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.React {
  background-color: var(--blue);
}

.JavaScript {
  background-color: var(--gold);
}

.Sass,
.CSS {
  background-color: var(--pink);
}

.HTML {
  background-color: var(--dark-blue);
}

.API,
.MongoDB {
  background-color: var(--red);
}

.Node {
  background-color: var(--green);
}

.Express {
  background-color: var(--grey);
}

.MySQL {
  background-color: var(--steel-blue);
}

.Material-UI,
.Mongoose {
  background-color: var(--aqua);
}

/* BUTTONS AND LINKS*/

.black-button,
.project-button {
  background-color: var(--black);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 50px 80px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(0, 0, 0, 0.35) 0px -2px 6px 0px inset;
  border-radius: 7px;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 0.15rem;
  text-decoration: none;
  transition: all 0.8s ease;
}

.black-button:hover,
.form-button:hover,
.project-button:hover {
  background-color: var(--orange);
}

.hero {
  font-size: var(--large-button-font);
  padding: 1.2rem 5rem;
  width: 200px;
}

.email-link {
  color: var(--white);
  font-size: var(--contact-font);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 1rem auto;
  transition: all 0.8s ease;
}

.email-link:hover {
  color: var(--orange);
}

.black-text-link {
  color: var(--black);
  font-size: var(--text-link-font);
  font-weight: 600;
  margin-right: 3rem;
  margin-top: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.8s;
}

.black-text-link:hover {
  color: var(--orange);
}

.form-button {
  background-color: var(--black);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 7px;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: var(--large-button-font);
  letter-spacing: 0.15rem;
  margin-top: 2rem;
  padding: 1rem;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  transition: all 0.8s ease;
}

/* TOAST NOTIFICATIONS */

.toast-notification {
  font-family: "Lexend Deca", sans-serif;
  font-size: var(--input-font);
  font-weight: 300;
  text-align: center;
}

.Toastify__toast-container--top-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Toastify__toast {
  background-color: var(--blue-black);
  color: var(--white);
  padding: 2rem 4rem;
}

/* HORIZONTAL RULE */

hr,
.hero-hr {
  background-color: var(--black);
  height: 3px;
  border: 0;
  margin-bottom: 1.5rem;
}

hr {
  width: 80px;
}

.hero-hr {
  width: 100px;
}

/* HEADER */

header {
  /* background-color: #003f87; */
  background: rgb(35, 98, 179);
  background: linear-gradient(
    0deg,
    rgba(35, 98, 179, 1) 0%,
    rgba(0, 63, 135, 1) 74%
  );
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 100dvw;
  height: 100dvh;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.header-left {
  width: 60%;
}

.header-right {
  display: flex;
  justify-content: center;
  width: 40%;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text-container {
  text-align: left;
}

.hero-image {
  width: 100%;
  height: auto;
}

/* NAVIGATION */

nav {
  background-color: var(--black);
  /* background: rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding: 0.5rem 4rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-list-item {
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.18rem;
  margin-left: 10rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.9s ease;
}

.nav-list-item:hover {
  color: var(--blue);
}

.logo {
  cursor: pointer;
}

/* SKILLS */

.skills-container {
  background-color: var(--black);
  padding: 5rem 3rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* SECTION */

.section-container {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 20px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  flex-direction: row;
  padding: 3rem;
  margin-bottom: 5rem;
}

.section-container-column {
  display: flex;
  padding: 7rem 1rem 4rem;
  margin: 0 auto;
  width: 70%;
}

.section-container-column {
  flex-direction: column;
}

/* ABOUT ME */

.about-section-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about-left,
.about-right {
  height: 100%;
}

.about-left {
  width: 30%;
  margin-right: 3rem;
}

.about-right {
  width: 70%;
}

.sarah-photo {
  width: 90%;
}

/* PERSONAL DOCS */

.doc-container {
  aspect-ratio: 1;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.9) 0px 6px 20px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 130px;
  transition: 0.8s;
}

.doc-container:hover {
  background-color: var(--blue);
}

.doc-icon {
  max-width: 70px;
}

/* PROJECTS */

.project-right {
  width: 50%;
  margin-left: 3rem;
}

.project-left {
  width: 50%;
}

.project-img {
  border-radius: 10px;
  max-width: 100%;
  cursor: pointer;
}

/* CONTACT */

.contact-right {
  width: 55%;
  padding: 0rem 6rem;
}

.contact-left {
  background-color: var(--dark-blue);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 45%;
  padding: 4rem;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-bubbles-img {
  width: 150px;
  max-width: 100%;
  margin: 0 auto;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
}

.form-input,
textarea {
  background-color: var(--light-gray);
  border-radius: 4px;
  font-family: "Lexend Deca", sans-serif;
  font-size: var(--input-font);
  font-weight: 300;
  padding: 1rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  border: none;
  color: var(--gray);
}

textarea {
  height: 175px;
}

/* FOOTER */

footer {
  background-color: var(--black);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  margin: 2rem auto 1rem;
}
